@charset "utf-8"; 

/* @group Custom Reset */
	html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, q, strong, dl, dt, dd, ol, ul, li, fieldset, form, input, select, textarea, label, legend, table
	{padding: 0; margin: 0; border: 0; list-style-type: none; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline;}
	a {color:#448ecf; text-decoration:none;}
	a:hover {}
	table {border-collapse: separate; border-spacing: 0;}
	a:active {outline: 0;} *:focus {outline: none;}
	blockquote:before, blockquote:after, q:before, q:after { content: ""; }
	blockquote, q { quotes: "" ""; }
	header, section, nav, hgroup, footer, article { display: block; }
	strong, b { font-weight: bold; }
	em {font-style:italic !important}
	p {line-height:140%}
	ul {margin: 0; padding: 0;}
	html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	body { margin: 0; font-size: 1em; line-height: 1.4; }

/* @end */

/* @group Fonts from fonts.com */
	/*
		font-family:'Avenir LT W01 45 Book';
		font-family:'Avenir LT W01 85 Heavy';
		font-family:'TradeGothicW01-BoldCn20 675334';
	*/
/* @end */

/* @group Sticky Footer */
	html, body {height: 100%;}
	#sticky-wrapper {
		min-height: 100%;
	}
	.sticky-wrapper {overflow:auto; padding-bottom: 48px;}  /* must be same height as the footer */
	#footer {
		clear:both;
		height: 48px;
		margin-top: -48px; /* negative value of footer height */
		position: relative;
		width: 100%;
	}
	/*Opera Fix*/
	body:before {
		content:"";
		height:100%;
		float:left;
		width:0;
		margin-top:-32767px;
	}
/* @end */

body {
	background:#f8f8f8;
	color:#333;
	font-family: "Avenir LT W01 45 Book",Arial,sans-serif;
	-webkit-text-size-adjust:none;
}
.left {float:left !important;}
.right {float:right !important;}
.is-hidden {display:none !important;}
.clear {clear: both;}

.wrapper {
	margin:0 auto;
	max-width: 1000px;
	position: relative;
	overflow: hidden;
	width: 97.5%;
}
.w10 {width: 10%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w70 {width: 70%;}
.w80 {width: 80%;}
.w90 {width: 90%;}
.w100 {width: 100%; clear: both;}

#content h1 {
	font-size: 24px;
	font-family: "TradeGothicW01-BoldCn20 675334";
	margin-bottom: 20px; padding-left: 6px;
	text-transform: uppercase;
}

/* @group Form Elements */
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-webkit-border-radius: 0;
				border-radius: 0;
		color:#666;
		font-size:13px;
		font-family: "Avenir LT W01 45 Book",Arial,sans-serif;
		-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,.3);
				box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,.3);
		margin: 0 0 6px; padding: 0 12px;
		
	}
	fieldset input[type="text"],
	fieldset input[type="password"],
	fieldset input[type="email"] {
		margin: 0 0 6px;
		width: 248px;
		background: #fafafa;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		height: 35px;
		line-height: 18px;
		display: block;
		margin: 0 0 6px;
	}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		color: #333;
	}
	input[type="submit"], button, label {cursor:pointer}
	.field-box .mySelect {
		background: #fafafa;
		-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.25);
				box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.25);
		cursor: pointer;
		font-size: 13px;
		font-family: "Avenir LT W01 45 Book",Arial,sans-serif;
		margin: 0 0 6px; padding: 0;
		position: relative;
		width: 132px; height: 35px;
	}
	.student_progress_header .field-box .mySelect{
		width: 162px;
	}
	.field-box .mySelect li {
		margin: 0; padding: 0;
	}
	.field-box .mySelect li.level-1 {
		background: url(images/select_bg.png) top right no-repeat;
		line-height: 28px;
		margin: 0; padding: 0;
		width: 132px; height: 35px;
	}
	.student_progress_header .field-box .mySelect li.level-1 {
		width: 162px;
	}
	.field-box .mySelect li span {
		display: block;
		padding: 5px 12px;
		width: 108px; 
	}
	.field-box .mySelect li ul {
		background: #fafafa;
		border-right:	1px solid #e1e1e1;
		border-bottom:	1px solid #e1e1e1;
		border-left:	1px solid #e1e1e1;
		margin: 0; padding: 0;
		max-height: 196px;
		overflow-y: visible;
		overflow-x: hidden;
		position: absolute;
		top: 35px; left: 0;
		width: 130px;
	}
	.field-box .mySelect li ul span:hover {
		background: #e1e1e1;
	}
	.field-box .mySelect .level-2 {
		height: auto;
		line-height: 18px;
	}
	.btn-wrapper {
		background-color: #fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3)); /* Safari 4+, Chrome */
		background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3); /* Chrome 10+, Safari 5.1+, iOS 5+ */
		background-image:    -moz-linear-gradient(top, #ffffff, #f3f3f3); /* Firefox 3.6-15 */
		background-image:      -o-linear-gradient(top, #ffffff, #f3f3f3); /* Opera 11.10+ */
		background-image:         linear-gradient(to bottom, #ffffff, #f3f3f3); /* Firefox 16+ */
		-webkit-border-radius: 3px;
				border-radius: 3px;
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,.3);
				box-shadow: 0px 0px 2px 0px rgba(0,0,0,.3);
		display: inline-block;
		height: 35px;
		overflow: hidden;
	}
	.btn {
		background: transparent url(images/airmail_border_hori.png) center bottom repeat-x;
		color: #448ecf;
		display: block;
		font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
		font-size: 14px;
		height: 29px;
		padding: 6px 30px 0;
		text-transform: uppercase;
	}
	input.btn {
		height: 35px;
		padding: 5px 30px 8px;
	}
	.field-box {
		padding: 6px 6px 8px;
		width: auto;
	}
	input.inline-input {
		display: inline;
	}
	div.error {
		background: #fbf2f2;
	}
	span.error {
		color: #ff5746;
		display: block;
		font-family:'Avenir LT W01 85 Heavy',Arial,sans-serif;
		font-size: 14px;
		text-indent: 4px;
	}

	/* @group Custom Radio Buttons */
		/* Hide the original radios and checkboxes (but still accessible)
		:not(#foo) > is a rule filter to block browsers that don't support that selector from applying rules they shouldn't */
		li:not(#foo) > input[type='radio'] {
			/* Hide the input, but have it still be clickable */
			opacity: 0;
			float: left;
			width: 0;
		}
		li:not(#foo) > input[type='radio'] + label {
			background: url(images/radio_sprite.png) left top no-repeat; 
			clear: none;
			color: #333;
			cursor: pointer;
			display: block;
			font-family:'Avenir LT W01 85 Heavy',arial,sans-serif;
			font-size: 13px;
			height: 32px;
			line-height: 32px;
			margin: 0; padding: 0 0 0 42px;
		}
		/* Change from unchecked to checked graphic */
		li:not(#foo) > input[type='radio']:checked + label {
			background: url(images/radio_sprite.png) left bottom no-repeat; 
		}
	/* @end */

	/* @group Custom Checkboxes */
		li:not(#foo) > input[type='checkbox'] {
			/* Hide the input, but have it still be clickable */
			opacity: 0;
			float: left;
			width: 32px;
		}
		li:not(#foo) > input[type='checkbox'] + label {
			margin: 0;
			clear: none;
			padding: 5px 0 4px 32px;	/* Left padding makes room for image */
			cursor: pointer;			/* Make look clickable because they are */
			background: url(off.png) left center no-repeat; 
		}
		/* Change from unchecked to checked graphic */
		li:not(#foo) > input[type='checkbox']:checked + label {
			background-image: url(check.png);
		}
	/* @end */

	.tab fieldset.session-class {
		border-top: 1px solid #e1e1e1;
		border-bottom: 0;
		margin-bottom: 14px; padding: 20px 0 14px;
	}
	#session-class-1 .remove-session-class {
		display: none;
	}
	.add-session-class, .remove-session-class {
		font-family:'Avenir LT W01 85 Heavy',arial,sans-serif;
	}
	.add-session-class:hover, .remove-session-class:hover {
		text-decoration: underline;
	}
	.add-session-class {
		padding-right: 10px;
	}
	.remove-session-class {
		padding-left: 10px;
		color: #c53d3d;
	}

/* @end */

/* @group Header */
	#header {
		background-color: #5b92e0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#5b92e0), to(#5484cd));
		background-image: -webkit-linear-gradient(top, #5b92e0, #5484cd);
		background-image:    -moz-linear-gradient(top, #5b92e0, #5484cd);
		background-image:      -o-linear-gradient(top, #5b92e0, #5484cd);
		background-image:         linear-gradient(to bottom, #5b92e0, #5484cd);
		color:#fff;
		position:relative;
		width:100%; height:60px;
		z-index:99;
	}
	#header .wrapper {
		height: 100%;
	}
	#header #logo {float:left;}
	#header #logo a {
		display:block;
		padding: 6px;
		width:170px; height:43px;
	}
	#join {
		padding: 12px 0 0 0;
		position: absolute;
		right: 12%; top: 0;
	}
	#join label, #login > a {
		color: white;
		font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
		text-shadow: 0px 1px 2px rgba(0,0,0,.5);
		text-transform: uppercase;
	}
	#join label {
		float: left;
		line-height: 35px;
		padding: 0 16px 0 0;
	}
	#join input[type="text"] {
		border-bottom: 1px solid #90adda;
		float: left;
		margin-right: 2px;
	}
	#join .btn-wrapper {
		float: right;
	}
	#login {
		position: absolute;
		padding: 12px 0 0 0;
		right: 0; top: 0;
		width: 10%;
	}
/* @end */

/* @group Content */
	#content {
		margin: 0 auto; padding:48px 0;
		width: 100%;
	}
	#content .wrapper {
		overflow: visible;
	}
	
	/* @group tabs */
		.tabs > ul {
			height: 54px;
			margin: 0 auto; padding: 4px 0 0;
			position: relative;
			overflow: hidden;
			width: 100%;
		}
		.tabs > ul > li {
			background: url(images/tab_li_bg_left_inactive.png) left top no-repeat;
			float: left;
			height: 54px;
			margin-right: -2.375%; padding: 0 2% 0 4px;
			position: relative;
			width: 32.375%;
			z-index: 5;
		}
		.tabs > ul > li:last-child {
			margin-right: 0; padding-right: 0;
			width: 32.5%;
			z-index: 1;
		}
		.tabs > ul > li > a {
      cursor:default;
			background: url(images/tab_li_bg_right_inactive.png) right top no-repeat;
			color: #999;
			display: block;
			float: left;
			font-family:"TradeGothicW01-BoldCn20 675334";
			font-size: 18px;
			height: 42px;
			margin: 0; padding: 12px 0 0 5%;
			text-transform: uppercase;
			width: 100%;
		}
		#dashboard .tabs > ul > li {
			margin-right: -2.375%; padding: 0 2% 0 4px;
			width: 12.900%;
		}
		#dashboard .tabs > ul > li:last-child {
			width: 18.5%;
		}
		#dashboard .tabs > ul > li > a {
			margin: 0; padding: 12px 0 0 10%;
		}
		.tabs > ul > li.ui-tabs-selected, .tabs > ul > li.ui-state-active{
			background: url(images/tab_li_bg_left_active.png) left top no-repeat;
			z-index: 10;
		}
		.tabs > ul > li.ui-tabs-selected a, .tabs > ul > li.ui-state-active a{
			background: url(images/tab_li_bg_right_active.png) right top no-repeat;
			color: #000;
		}
		.tabs > ul > li a span {
			font-size: 24px;
			padding: 0 8px 0 0;
		}
		.tab {
			background: url(images/tab_bg_right.png) right bottom no-repeat;
			margin: 0 auto;
			width: 100%;
		}
		.tab-inner {
			background: url(images/tab_bg_left.png) left bottom no-repeat;
			padding: 50px 6% 30px;
			overflow: hidden;
			width: 88%;
			max-width: 880px;
		}
		#assignments .tab-inner {
			background: url(images/tab_bg_left.png) left bottom no-repeat;
			padding: 50px 40px;
			overflow: hidden;
			width: 100%;
			max-width: 920px;
		}

		.tab fieldset {
			border-bottom: 1px solid #b5b5b5;
			margin: 0 0 24px 0; padding: 0 5% 50px;
		}
		.tab #sign-up-teacher-tab-2 > fieldset {
			padding-bottom: 0;
		}
		.tab fieldset > div {
			min-height: 100px;
			margin-bottom: 25px;
		}
		.tab fieldset > div input[type="text"], .tab fieldset > div input[type="email"], .tab fieldset > div input[type="password"] {

		}
		.tab fieldset > div .inline-input {
			width: auto !important; /* Forces restriction of size attribute on input element */ 
		}
		.w20 .field-box {
			width: 130px;
		}
		.w40 .field-box {
			width: 272px;
		}
		.w50 .field-box {
			width: 272px;
		}
		.w60 .field-box {
			width: 272px;
		}
		.w100 .field-box {
			width: 272px;
		}
		.tab .question {
			font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
			display: block;
			margin: 0 0 8px;
			padding-left: 6px;
		}
		.tab .question span {
			font-family: "Avenir LT W01 45 Book",Arial,sans-serif;
			font-size: 14px;
		}
		.tab fieldset legend .error {
			color: #ff5746;
			display: inline;
			font-family: "Avenir LT W01 45 Book",Arial,sans-serif;
			font-size: 14px;
			padding-left: 10px;
		}
		.tab fieldset legend {
			font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
			margin-bottom: 24px;
		}
		.tab fieldset ul li {
			height: 32px;
			margin: 12px 0;
		}
		.tab fieldset .radio-inline {
			margin-bottom: 6px;
		}
		.tab fieldset .radio-inline li {
			display: inline-block;
			margin: 0 48px 0 0;
		}
		.tab .btn-wrapper {float: right;}
		.tab center .btn-wrapper {float: none;}
		.ui-tabs-hide {display: none;}
		.tab_checkmark {
			background: url(images/tab_checkmark.png) 0 0 no-repeat;
			display: none;
			width: 16px; height: 16px;
			position: absolute;
			right: 11%; top: 23px;
		}
		.tab-valid .tab_checkmark {
			display: block;
		}
	/* @end */
/* @end */

/* @group Footer */
	#footer {
		background: #fff url(images/airmail_border_hori.png) top center repeat-x;
	}
	#footer .wrapper {
		padding: 18px 0 0;
	}
	#footer small {
		color: #000;
		font-size: 14px;
		line-height: 18px; /* Weird thing to match baseline of nav on right side of footer… */
	}
	#footer nav ul li {
		display: inline-block;
	}
	#footer nav a {
		color: #000;
		font-size: 14px;
		padding: 0 4px;
		text-transform: capitalize;
	}
	#footer nav a:hover {color:#448ecf; text-decoration: underline;}
/* @end */

/* @group Assignments */
	#activity-heading{
    		padding-bottom: 27px;
    		background: url('../images/brd9x27activity_top.png') repeat-x left bottom;
	}
	#activity {

		background: #f3f3f3 url('../images/brd100x29ribbon.png') repeat-x left bottom;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow:auto; 
	}

	#activity_bottom{
		overflow:auto; 
		padding-bottom: 48px;
		margin-top: -30px;
	}

	#assignments h2, 
	#activity h2, 
	#assignments h3,  
	.featured-topic h2,
	.article-qa h4 , #activity-heading h2{
		font-family:'TradeGothicW01-BoldCn20 675334';
		font-size: 18px;
		text-transform: uppercase;
		color: black;
	}
	#assignments h3{
		padding: 0 0 5px 0;
		margin: 0px 0 40px 0;
		border-bottom: 1px solid #b5b5b5;
	}
	.action-article h4 {
		font-family:'Avenir LT W01 85 Heavy',arial,sans-serif;
		font-size: 13px;
		color: #448ecf;
		text-transform: uppercase;
		margin-bottom: 10px;
		clear: both;
	}
	#assignments .left img {
		display: inline-block;
		margin-bottom: 4px;
		float:left;
	}
	#assignments-right{
		border-left: 1px solid #b5b5b5;
		width:39%;
	}
	#assignments-right .btn-wrapper{
		float: left;
		margin: 0 6px 20px 0;
	}
	#assignments-right .btn-wrapper .btn{
	padding:6px 20px 0;

	}
	.featured-topic{
		margin: 0 0 40px 0;
		float: left;
		font-size: 14px;
	}
	#dashboard .featured-topic{
		margin: 10px 0 40px 0;
		font-size: 14px;
	}
	.featured-topic .left {
		overflow: visible;
		width:44%;
	}
	.featured-topic .right{
		width: 54%;
		float:left;
	} 
	.assignments-list li{
		margin: 0 0 30px 0;
		width: 100%;
		float: left;
	}
	#dashboard .assignments-list{
		margin: 20px 0 0px 0;
	}
	.assignments-list li p, #answer-questions .left p{
		margin: 0 0 10px 0;
		font-size: 14px;
	}
	#answer-questions h2{
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	#answer-questions .subhead{
		font-family:'Avenir LT W01 85 Heavy';
	}
	#answer-questions .left img{
		margin: 0px 0 10px 0;
	}
	.action{
		float: left;
		width: 100%;
	}
	.action-authoring{float:left; width: 100%; font-size: 13px; margin: 0 0 25px 0; font-family:'Avenir LT W01 85 Heavy';}
	.action-date{ color: #b5b5b5;}
	.action-article{
		font-size: 13px;
		width: 100%;
		margin-bottom: 35px;
		float: left;
	}
	.article-title{margin: 0 0 45px 0;}
	.article-qa{
		font-size: 13px;
		padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		border-bottom: 1px solid #ccc;
	}
	.article-qa p{
		margin: 5px 0;
	}
	#assignment-comments .article-qa{
		font-size: 13px;
		border-bottom: 1px solid #b5b5b5;
		padding: 0 0 30px 0;
		margin: 0 0 30px 0;
	}
	#assignment-comments .article-qa:last-child {
		border-bottom: 1px solid transparent;
	}
	.questions{
		padding: 0 0 20px 20px;
	}
	.instructions{
		font-size: 12px;
		margin: 0 0 30px 0;
	}
	#answer-questions .right .comment-form textarea{ 
		width:100%;
		background-color: #fafafa;
		color: #666;
		height: 100px;
		font-style: italic;
		padding:1%
	}
	.article-qa .comment-container{
		margin-top: 20px;
	}
	.article-qa .comment-container textarea{
		background-color: #fafafa;
		color: #666;
		width: 96%;
		height: 100px;
		font-style: italic;
		padding:1%;
	}
	#answer-questions .right .article-qa .comment-container textarea{
		width: 200px;
		height: 75px;
	}
	.missing-media{
		margin: 30px 0;
	}
	.missing-media .btn-wrapper{margin: 10px 0 0 0;}
/* @end */

/* @Group UserAvatars */
	.avatar{
	 position: relative;
	 float:left;
	}
	.avatar img{
		width:100%;
		height:100%;	
	}
	.avatar.a70{
	 width: 70px;
	 height: 70px;
	}
	.avatar.a55{
	 width: 55px;
	 height: 55px;
	}
	.avatar.a64{	
	 width: 64px;
	 height: 64px;
	}
	.avatar.a144{	
	 width: 144px;
	 height: 144px;
	}
	.frame{
		position: absolute;
		z-index: 100;
		display: block;
		left: 0;
		top:0;
		width:100%;
		height:100%;
	}
	.success .frame{
		display: none;
	}
	.a70 .frame{
		background: url('../images/frame70x70circle.png') no-repeat left top;
	}
	.a55 .frame{
		background: url('../images/frame55x55circle.png') no-repeat left top;
	}
	.a64 .frame{
		background: url('../images/frame64x64circle.png') no-repeat left top;
	}
	#activity .a64 .frame{
		background: url('../images/frame64x64circle_grey.png') no-repeat left top;
	}
	.a144 .frame{
		background: url(../images/frame144x144circle.png) no-repeat left top;
	}

/* @end */

/* @Group Assignment Sprites */
	.tab-check,
	.title-arrow,
	.frame55,
	.frame70,
	.airplane-success{
		display: inline-block;
		background-repeat: no-repeat;
		background-image: url('../images/assignment-sprites.png');
	}
	.tab-check {
		background-position:0px 0px;
		width:15px;
		height:13px;
		padding: 0!important;
		margin: 0 0 0 10px;
	}
	.title-arrow {
		background-position:-15px 0px;
		width:27px;
		height:20px;
		margin: 0 10px 0 0;
	}
	.frame55 {
		background-position:-42px 0px;
		width:55px;
		height:55px;
	}
	.frame70 {
		background-position:-97px 0px;
		width:70px;
		height:70px;
	}
	.airplane-success {
		background-position:-42px 0px;
		width:53px;
		height:53px;
	}
	.ir {
		height: 0px;
		display: block;
		overflow: hidden;
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
/* @end */

/* @Group Profile */
	.profile_container{
		padding: 50px 3% 30px;
		overflow: hidden;
		width: 100%;
		max-width: 940px;
		background-color: white;
		-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.25);
		box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.25);
	}
	.profile-box{
		margin:0 0 70px 0;
	}
	.profile_container h3 {
		font-family:'TradeGothicW01-BoldCn20 675334';
		font-size: 18px;
		text-transform: uppercase;
		color: black;
		margin: 0 0 15px 0;
	}
	.help{
		font-size: 12px;
		margin: 10px 0;
		color:#333;
	}
	.profile_container textarea{
		width:100%;
		background-color: #fafafa;
		color: #666;
		height: 100px;
		font-style: italic;
		padding:1%
	}
	.profile-box label{
		font-family:'Avenir LT W01 85 Heavy';
		float: left;
		margin: 0 20px 0 0;
		min-width: 80px;
	}
	.profile-edit {
		font-size: 12px;
	}
/* @end */ 
/* @Group Carousel */
	#avatar_carousel{
		border-bottom: 1px solid #b5b5b5;
		padding: 20px 0;
		float: left;
		margin: 20px 0
	}
	#avatar_carousel ul{
		margin: 0 0 0 10px;
		float: left;
	}
	#avatar_carousel ul li{
		display: inline;
		margin: 0 5px 0 0px;
		float: left;
	}
	.btn-next,.btn-prev{margin: 10px 0 0 0; display: block;background-repeat: no-repeat;background-image: url('../images/carousel.png'); float:left;}
	.btn-next{background-position:0px 0px;width:39px;height:39px;}
	.btn-prev{background-position:0px -39px;width:39px;height:39px;}
/* @end */ 

/* @Group AssignmentSprites */
	.tab-check,
	.title-arrow,
	.frame55,
	.frame70,
	.airplane-success{
		display: inline-block;
		background-repeat: no-repeat;
		background-image: url('../images/assignment-sprites.png');
	}
	.tab-check
	{
		background-position:0px 0px;
		width:15px;
		height:13px;
		padding: 0!important;
		margin: 0 0 0 10px;
	}
	.title-arrow
	{
		background-position:-15px 0px;
		width:27px;
		height:20px;
		margin: 0 10px 0 0;
	}
	.frame55
	{
		background-position:-42px 0px;
		width:55px;
		height:55px;
	}
	.frame70
	{
		background-position:-97px 0px;
		width:70px;
		height:70px;
	}
	.airplane-success
	{
		background-position:-42px 0px;
		width:53px;
		height:53px;
	}
/* @end */

#student_progress, #partner_classes{
	background-color: #fafafa;
	padding: 20px;
	float:left;
	-moz-box-shadow: 0 0 5px #d9d9d9;
	-webkit-box-shadow: 0 0 5px#d9d9d9;
	box-shadow: 0 0 5px #d9d9d9;
	margin: 0 0 20px 0;
	font-size: 0.8em;
}

#students_registered{
	list-style: none;
	margin: 0 0 20px 0;
	float: left;
}
#students_registered li{
	border-bottom: 1px solid #d9d9d9;
	padding: 15px 10px;
}
#students_registered li:hover{
	background-color: #f4f4f4;
	-moz-box-shadow: inset 0 0 5px #d9d9d9;
	-webkit-box-shadow: inset 0 0 5px#d9d9d9;
	box-shadow: inner 0 0 5px #d9d9d9;
	border-bottom: 1px solid transparent;
}
#students_registered .arrow-right{
	margin: 0px 3px 0 0;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #e1e1e1;
}
#students_registered li:hover .arrow-right{
	border-left: 8px solid #337bcf;
}
#setup_steps{
	width: 100%;
	float: left;
	margin: 0px 0 20px 0;
}
#setup_steps li{
	list-style: decimal;
	list-style-position: inside;
	width:100%;
	border-bottom: 1px solid #d9d9d9;
	padding: 20px 0;
}

#setup_steps table{
	margin: 25px 0 20px 0;
	border-collapse: collapse;
	font-size: 0.9em;
}
#setup_steps table tr{
 border-bottom: 1px solid #d9d9d9;
 
}
#setup_steps table th, #setup_steps table td{
	padding: 10px 50px 10px 0px;
}
#setup_steps table th{
	font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
}

#setup_steps .alert, .due-date{
	background-color: #e3eeff;
	padding: 12px 20px;
	text-align: center;
	font-size: 0.95em;
}
.due-date{
	margin: -10px 0 0 0;
	font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
}

.heavy{
	font-family: "Avenir LT W01 85 Heavy",Arial,sans-serif;
}

#dashboard #assignment-tabs-2 h2{
	font-size: 1em;
	margin: 0 0 20px 0;
}
#assignment-tabs-2 .instructions{
	margin: 10px 0 20px 0;
	font-size: 0.85em;
	float: left;
}

#dashboard #assignment-tabs-2 h3{
	font-size: 0.95em;
}

#dashboard_progress{

	padding: 0px;
}
#dashboard_progress table{
	width: 100%;
	font-size:0.9em;
	background-color: white;
		-moz-box-shadow: 0 0 5px #d9d9d9;
	-webkit-box-shadow: 0 0 5px#d9d9d9;
	box-shadow: 0 0 5px #d9d9d9;
}
#dashboard_progress table thead{
	background-image: linear-gradient(bottom, rgb(243,243,243) 35%, rgb(243,243,243) 34%, rgb(255,255,255) 84%);
	background-image: -o-linear-gradient(bottom, rgb(243,243,243) 35%, rgb(243,243,243) 34%, rgb(255,255,255) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 35%, rgb(243,243,243) 34%, rgb(255,255,255) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 35%, rgb(243,243,243) 34%, rgb(255,255,255) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 35%, rgb(243,243,243) 34%, rgb(255,255,255) 84%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, rgb(243,243,243)),
	color-stop(0.34, rgb(243,243,243)),
	color-stop(0.84, rgb(255,255,255))
	);
	width:100%;
	-moz-box-shadow: 0 0 10px #888;
	-webkit-box-shadow: 0 0 10px#888;
	box-shadow: 0 0 10px #888;
}

#dashboard_progress table thead th{
	padding: 25px 30px 20px 25px;
	text-transform: uppercase;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #d9d9d9;
	font-weight: normal;

}
#dashboard_progress table tbody td{
	padding: 25px 30px 20px 25px;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #d9d9d9;
	vertical-align: top;
}
.student_progress_header .field-box {
float:left;
margin:-10px 10px 0 0;
}

#dashboard_progress table .assignment_details{
	width: 70%;
}
#dashboard_progress table td.assignment_details{
	background-color: #f3f3f3;
}

/* @Group Student Progress Icons */
.student_actions li{ float:left; padding: 0 4px;}
.bubble.completed,.bubble.default,.bubble.late,.doc.completed,.doc.default,.doc.late{display: inline-block;background-repeat: no-repeat;background-image: url('../images/progress_sprite.png');}
.bubble.completed{background-position:0px 0px;width:19px;height:17px;}
.bubble.default{background-position:-19px 0px;width:19px;height:17px;}
.bubble.late{background-position:-38px 0px;width:19px;height:17px;}
.doc.completed{background-position:0px -17px;width:14px;height:17px;}
.doc.default{background-position:-14px -17px;width:14px;height:17px;}
.doc.late{background-position:-28px -17px;width:14px;height:17px;}
/* @end */



